<template>
  <section class="app-main">
    <transition name="fade-transform"
                mode="out-in">
      <el-scrollbar wrap-class="scrollbar-wrapper_menu"
                    :key="key">
        <router-view class="app-main-content"
                     :key="key" />
      </el-scrollbar>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'AppMain',
  computed: {
    key () {
      return this.$route.name !== undefined ? this.$route.name + +new Date() : this.$route + +new Date()
    }
  }
}
</script>

<style lang="less">
.app-main {
  height: calc(100vh - 86px);
  position: relative;
  overflow: hidden;
  .el-scrollbar {
    height: 100%;
    .scrollbar-wrapper_menu {
      overflow-x: hidden;
      .app-main-content {
        padding: 15px;
      }
    }
    .el-scrollbar__bar .el-scrollbar__thumb {
      background-color: rgba(144, 147, 153, 0.5);
    }
  }
}
</style>
