<template>
  <div class="navbar">
    <hamburger :toggle-click="toggleSideBar"
               :is-active="sidebar.opened"
               class="hamburger-container" />

    <breadcrumb class="breadcrumb-container" />

    <div class="right-menu">

      <el-dropdown class="avatar-container right-menu-item"
                   trigger="click">
        <div class="avatar-wrapper">
          <img class="user-avatar"
               src="./supaBoss.jpg">
          <span class="user-avatar_name">
            welcome <br>
            {{$store.state.auth.user_name}}
          </span>
          <i class="el-icon-caret-bottom" />
        </div>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <span style="display:block;"
                  @click="logout">退出</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'

export default {
  components: {
    Breadcrumb,
    Hamburger
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'device'
    ])
  },
  methods: {
    toggleSideBar () {
      this.$store.dispatch('toggleSideBar')
      // 动态计算表格高度
      setTimeout(() => {
        this.$store.commit('BL_TABLECOUNT')
      }, 300)
    },
    logout () {
      this.$http.get('/common/logout').then((result) => {
        console.log(result)
      }).catch((err) => {
        console.log(err)
      }).finally(() => {
        // 设置名字
        this.$store.commit('SET_USER_NAME', null)
        location.reload()
      })
    }
  }
}
</script>

<style lang="less" scoped>
.navbar {
  height: 50px;
  // line-height: 50px;
  border-radius: 0px !important;
  border-bottom: 1px solid #e6e6e6;
  .hamburger-container {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
  }
  .breadcrumb-container {
    float: left;
  }
  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }
  .right-menu {
    float: right;
    height: 100%;
    &:focus {
      outline: none;
    }
    .right-menu-item {
      display: inline-block;
      margin: 0 8px;
    }
    .screenfull {
      height: 20px;
    }
    .international {
      vertical-align: top;
    }
    .theme-switch {
      vertical-align: 15px;
    }
    .avatar-container {
      height: 50px;
      margin-right: 2px;
      .avatar-wrapper {
        cursor: pointer;
        position: relative;
        .user-avatar {
          margin-top: 3px;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }
        .user-avatar_name {
          font-size: 15px;
          display: inline-block;
          padding: 0 0 0 8px;
          line-height: 20px;
          min-width: 70px;
        }
        // .el-icon-caret-bottom {
        //   cursor: pointer;
        //   position: absolute;
        //   right: -20px;
        //   top: 25px;
        //   font-size: 12px;
        // }
      }
    }
  }
}
</style>
