<script>
import InitialTemplate from './InitialTemplate'

export default {
  mixins: [InitialTemplate],
  data () {
    return {
      templateName: '调价模板'
    }
  }
}
</script>

<style scoped>
</style>
