<template>
  <div>
    <el-card class="BS-card">
      <div slot="header">
        <span>添加{{headerName}}</span>
      </div>

      <el-form :model="formData"
               ref="ruleForm"
               label-width="100px"
               class="ruleForm">

        <slot name="form_item"></slot>

      </el-form>

    </el-card>
  </div>

</template>

<script>
export default {
  name: 'Basecompon-add',
  props: {
    headerName: {
      default: ''
    },
    formData: {
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {

    }
  },
  methods: {
    submitFn () {
      this.$refs.ruleForm.validate((valid) => {
        console.log(valid)
      })
    }
  }
}
</script>

<style lang="less" scoped>
.BS-card {
  .ruleForm {
    max-width: 400px;
    margin: 0 auto;
    /deep/.el-select {
      width: 100%;
    }
  }
}
</style>
