<template>
  <Basecompon :headerName='templateName'
              :form-data='formData'
              ref="Basecompon">

    <template slot="form_item">

      <TemplateName v-model="formData.TemplateName"
                    prop='TemplateName'></TemplateName>
      <ProductType v-model="formData.productType"
                   prop='productType'
                   type='add'></ProductType>
      <ProductCompon v-model="formData.product"
                     prop='product'
                     type='add'></ProductCompon>
      <ChannelGroup v-model="formData.ChannelGroup"
                    prop='ChannelGroup'
                    type='add'></ChannelGroup>

      <el-form-item>
        <el-button type="primary"
                   @click="submitForm">提交</el-button>
        <el-button @click="goBackFn">返回</el-button>
      </el-form-item>

    </template>

  </Basecompon>
</template>

<script>
import Basecompon from './Basecompon'
import GoBack from './mixin/GoBack'
import ProductTypeMixin from '../mixin/ProductType'

import TemplateName from './components/TemplateName'
import ProductType from '../components/ProductType'
import ProductCompon from '../components/Product'
import ChannelGroup from '../components/ChannelGroup'

export default {
  name: 'InitialTemplate-add',
  mixins: [GoBack, ProductTypeMixin],
  components: {
    Basecompon,
    TemplateName,
    ProductType,
    ProductCompon,
    ChannelGroup
  },
  data () {
    return {
      templateName: '初始模板',
      formData: {
        TemplateName: '123',
        productType: 'sh',
        product: ['bj'],
        ChannelGroup: 'bj'
      }
    }
  },
  methods: {
    submitForm () {
      this.$refs.Basecompon &&
        this.$refs.Basecompon.submitFn()

      console.log(this.formData)
    }

  }
}
</script>

<style lang="less" scoped>
</style>
