<template>
  <!-- 调价渠道 -->
  <BaseLayout class="CP"
              :form-data='formData'
              :table-data='tableData'
              label-width="100px"
              @searchFn='searchFn'>

    <!-- 搜索条件 -->
    <template slot="form_item">

      <TemplateName v-model="formData.TemplateName"></TemplateName>

      <el-form-item label="结算月份">
        <el-date-picker v-model="formData.month"
                        type="month"
                        align="left"
                        format="yyyy-MM"
                        value-format="yyyy-MM"
                        placeholder="选择月">
        </el-date-picker>
      </el-form-item>

      <DatePicker v-model="time"
                  item-name='审核截止日期'></DatePicker>

    </template>

    <!-- 按钮 -->
    <div slot="table_top">
      <el-button type="success"
                 @click="add">添加结算通知</el-button>
    </div>

    <!-- 表格 -->
    <template slot="table">

      <el-table-column label="产品"
                       prop="id"
                       min-width="150px">
      </el-table-column>
      <!-- show-overflow-tooltip -->
      <el-table-column label="渠道"
                       prop="id"
                       min-width="120px">
      </el-table-column>
      <el-table-column label="模板分类"
                       prop="id"
                       min-width="120px">
      </el-table-column>
      <el-table-column label="模板名称"
                       prop="id"
                       min-width="140px">
      </el-table-column>

      <el-table-column label="国家 list"
                       min-width="90px">
        <template slot-scope="{row}">
          <el-button type="text"
                     @click="lookFn(row)">
            查看
          </el-button>
        </template>
      </el-table-column>

      <el-table-column label="生效时间"
                       prop="id"
                       min-width="120px">
      </el-table-column>
      <el-table-column label="邮件状态"
                       prop="id"
                       min-width="100px">
      </el-table-column>
      <el-table-column label="更新时间"
                       prop="id"
                       min-width="160px">
      </el-table-column>
      <el-table-column label="操作人"
                       prop="id"
                       min-width="100px">
      </el-table-column>
      <el-table-column label="操作"
                       fixed="right"
                       min-width="100px">
        <template slot-scope="{row}">
          <el-button type="text"
                     @click="editFn(row)">
            重新发送
          </el-button>
        </template>
      </el-table-column>

    </template>

  </BaseLayout>

</template>

<script>
import dayjs from 'dayjs'
import BaseLayout from '@/components/BaseLayout/index'
import pickerOptions from '@/utils/PickerOptions'

import TemplateName from '@/views/PriceManage/components/TemplateName'

import DatePicker from '@/components/DatePicker/index'

export default {
  name: 'AdjustChannel',
  components: {
    BaseLayout,
    TemplateName,
    DatePicker
  },
  data () {
    return {
      time: [
        dayjs().format('YYYY-MM-DD'),
        dayjs().format('YYYY-MM-DD')
      ],
      formData: {
        TemplateName: 'sh',
        month: dayjs().format('YYYY-MM')
      },
      pickerOptions,
      tableData: [
        {
          id: '操作人',
          deadline: '2019-1-15'
        },
        {
          deadline: '2018-12-29'
        }
      ],
      dialog: {
        visible: false,
        tableData: []
      }
    }
  },

  methods: {
    searchFn () {
      console.log(this.formData)
      console.log(this.time)
    },

    add () {
      this.$store.commit('SET_BL_CURRENTPAGE', 3)
      this.$store.commit('SET_BL_PAGESIZE', 30)
      this.$store.commit('SET_BL_TOTAL', 1234)
    },

    // 渠道号 查看
    lookFn (row) {
      console.log(row)
      this.dialog.tableData = [12]
      this.dialog.visible = true
    },
    // 编辑
    editFn (row) {
      console.log(row)
    }

  }

}
</script>

<style lang="less" scoped>
// .IT {
// }
</style>
