<template>
  <BaseLayout class="CM"
              :form-data='formData'
              :table-data='tableData'
              label-width="100px"
              @searchFn='searchFn'>

    <!-- 搜索条件 -->
    <template slot="form_item">

      <el-form-item label="渠道公司">
        <el-select v-model="formData.company"
                   clearable
                   filterable
                   placeholder="">
          <el-option label="全部"
                     value=""></el-option>
          <el-option label="区域二"
                     value="beijing"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="渠道类型">
        <el-select v-model="formData.company"
                   clearable
                   filterable
                   placeholder="">
          <el-option label="全部"
                     value=""></el-option>
          <el-option label="直接合作渠道"
                     value="1"></el-option>
          <el-option label="代理渠道下属渠道"
                     value="2"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="负责BD">
        <el-input v-model="formData.company"
                  clearable
                  placeholder=""></el-input>
      </el-form-item>

      <!-- <el-form-item label="合同截止日期">
        <el-date-picker v-model="time"
                        class='CM_time'
                        type="daterange"
                        align="left"
                        unlink-panels
                        :clearable='false'
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        format="yyyy-MM-dd"
                        value-format="yyyy-MM-dd"
                        :picker-options="pickerOptions">
        </el-date-picker>
      </el-form-item> -->
      <DatePicker v-model="time"
                  item-name='合同截止日期'></DatePicker>

    </template>

    <!-- 按钮 -->
    <div slot="table_top">
      <el-button type="success"
                 @click="add">添加公司</el-button>
      <span class="fr caption">
        合同截止日期说明：到期前后30天以红色显示，过期30天以蓝色显示。
      </span>
    </div>
    <!-- 表格 -->
    <template slot="table">

      <el-table-column label="渠道类型"
                       prop="id"
                       min-width="130px">
      </el-table-column>
      <el-table-column label="负责BD"
                       show-overflow-tooltip
                       prop="id"
                       min-width="130px">
      </el-table-column>

      <el-table-column label="资质"
                       min-width="80px">
        <template slot-scope="{row}">
          <span class="table_icon">
            <svg-icon v-if="row.id*1 === 1"
                      icon-class="zhengque"></svg-icon>
            <svg-icon v-else
                      icon-class="cuowu"></svg-icon>
          </span>
        </template>
      </el-table-column>
      <el-table-column label="合同"
                       min-width="80px">
        <template slot-scope="{row}">
          <span class="table_icon">
            <svg-icon v-if="row.id*1 === 1"
                      icon-class="zhengque"></svg-icon>
            <svg-icon v-else
                      icon-class="cuowu"></svg-icon>
          </span>
        </template>
      </el-table-column>
      <el-table-column label="合同截止日期"
                       min-width="120px">
        <template slot-scope="{row}">
          <span :style='{"color": deadlineFn(row.deadline)}'>
            {{row.deadline}}
          </span>
        </template>
      </el-table-column>

      <el-table-column label="渠道号"
                       min-width="90px">
        <template slot-scope="{row}">
          <el-button type="text"
                     @click="lookFn(row)">
            查看
          </el-button>
        </template>
      </el-table-column>
      <el-table-column label="更新时间"
                       prop="id"
                       min-width="120px">
      </el-table-column>
      <el-table-column label="操作人"
                       prop="id"
                       min-width="100px">
      </el-table-column>
      <el-table-column label="操作"
                       fixed="right"
                       min-width="100px">
        <template slot-scope="{row}">
          <el-button type="text"
                     @click="editFn(row)">
            编辑
          </el-button>
        </template>
      </el-table-column>

    </template>

    <!-- 查看 -->
    <el-dialog title="渠道号"
               width='400px'
               :modal-append-to-body='false'
               :visible.sync="dialog.visible">
      <el-table :data="dialog.tableData"
                stripe
                class="base_table"
                border>
        <el-table-column property="date"
                         label="产品"
                         min-width="150px"></el-table-column>
        <el-table-column property="name"
                         label="渠道号"
                         min-width="100px"></el-table-column>
      </el-table>
    </el-dialog>

  </BaseLayout>

</template>

<script>
import dayjs from 'dayjs'
import BaseLayout from '@/components/BaseLayout/index'
import pickerOptions from '@/utils/PickerOptions'
import DatePicker from '@/components/DatePicker/index'

export default {
  name: 'CompanyManage',
  components: {
    BaseLayout,
    DatePicker
  },
  data () {
    return {
      time: [
        dayjs().subtract(7, 'days').format('YYYY-MM-DD'),
        dayjs().format('YYYY-MM-DD')
      ],
      formData: {
        company: ''
      },
      pickerOptions,
      tableData: [
        {
          id: 1,
          deadline: '2019-1-15'
        },
        {
          deadline: '2018-12-29'
        }
      ],
      dialog: {
        visible: false,
        tableData: []
      }
    }
  },

  methods: {
    searchFn () {
      console.log(this.formData)
    },

    add () {
      this.$store.commit('SET_BL_CURRENTPAGE', 3)
      this.$store.commit('SET_BL_PAGESIZE', 30)
      this.$store.commit('SET_BL_TOTAL', 1234)
    },

    // 渠道号 查看
    lookFn (row) {
      console.log(row)
      this.dialog.tableData = [12]
      this.dialog.visible = true
    },
    // 编辑
    editFn (row) {
      console.log(row)
    },

    deadlineFn (time) {
      const now = dayjs().valueOf()
      const timeNum = dayjs(time).valueOf()

      if (
        now - timeNum >= 0 &&
        now - timeNum < 1000 * 3600 * 24 * 30
      ) {
        return 'red'
      } else if (
        now - timeNum < 0 &&
        timeNum - now < 1000 * 3600 * 24 * 30
      ) {
        return '#0283E4'
      }
    }

  }

}
</script>

<style lang="less" scoped>
.CM {
  .base_table {
    /deep/.cell {
      text-align: center;
    }
  }
  .table_icon {
    font-size: 25px;
  }
  // 说明
  .caption {
    font-size: 12px;
    color: #797979;
  }
}
</style>
