@blue: #324157;
@light-blue: #3a71a8;
@red: #c03639;
@pink: #e65d6e;
@green: #30b08f;
@tiffany: #4ab7bd;
@yellow: #fec171;
@panGreen: #30b08f;

//sidebar
@menuBg: #304156;
@subMenuBg: #f1f1f1;
@menuHover: #dedfe2;
