<template>
  <div class="welcome">

    <el-card shadow="always"
             style="margin-bottom: 30px;">
      <div slot="header"
           class="clearfix">
        <span>APUS Promotion Policy</span>
      </div>

      <div>

        <p>Attention.<br />In response to the recently updated Adjustment parameters and the violations of promotion, we updated the
          <a href="http://pt.apuscn.com/doc/APUS_Promotion_Policy_en_20180713.pdf"
             target="_blank">
            <strong>APUS Promotion Policy</strong>
          </a>
          on July 13, 2018. For details, please refer to the attachment. The Policy will take effect immediately from the date of publication. Please avoid the illegal promotion elaborated in the attachment
          <a href="http://pt.apuscn.com/doc/Illegal_Promotion_Cases_en.pdf"
             target="_blank">
            <strong>Illegal Promotion Cases.</strong>
          </a>
          Once any illegal promotion is discovered, we will refuse to pay the promotion fee and penalize the relevant channels.
        </p>
        <p>The three major modifications are as follows:</p>
        <p>
          <span style='text-indent:2em;display:block;'>1. Punishment for using illegal creatives is added. "For each creative screenshot/page screenshot and the corresponding URL, 1000 US dollars will be fined." <b>(see Article 2.1.3.2 B)</b></span>
          <span style='text-indent:2em;display:block;'>2. Adjustment parameters are amended. "If monthly amount of fraudulent devices accounts for 3% or over 3% of the monthly amount of installation, or the percentage of monthly amount of fraudulent devices is over 1% in two successive months, APUS has the right to impose a fine that is 10 times of the payment for the Fraud device installment." <b>(see Article 2.2.2)</b></span>
          <span style='text-indent:2em;display:block;'>
            3. Punishment for products being removed from charts or application stores is added. <b>(see Article 3.1, and Annex 2)</b>
          </span>
        </p>
        <p>For details and other amendments, please refer to the latest version of
          <a href="http://pt.apuscn.com/doc/APUS_Promotion_Policy_en_20180713.pdf"
             target="_blank">
            <strong>APUS Promotion Policy.</strong>
          </a>
        </p>
        <p>请注意！<br />针对近期更新的Adjustment 参数以及违规推广情况，我方于2018年7月13日更新了
          <a href="http://pt.apuscn.com/doc/APUS_Promotion_Policy_zh_20180713.pdf"
             target="_blank">
            <strong>《APUS推广政策》</strong>
          </a>
          内容，详情信息请见附件。该政策自发布之日起，即刻生效。请注意避免如附件
          <a href="http://pt.apuscn.com/doc/Illegal_Promotion_Cases_zh.pdf"
             target="_blank">
            <strong>《违规推广案例》</strong>
          </a>
          中的推广行为。任何违规推广一经发现，我们将拒绝支付推广费用并对相关的渠道进行处罚。</p>
        <p>新版
          <a href="http://pt.apuscn.com/doc/APUS_Promotion_Policy_zh_20180713.pdf"
             target="_blank">
            <strong>《APUS推广政策》</strong>
          </a>
          主要对三处做了修改，简述如下：</p>
        <p>
          <span style='text-indent:2em;display:block;'>1. 补充了对违规推广素材的罚款标准：“1条违规素材截图/页面截图以及对应推广链接合计罚款1000美金”。（具体条目：2.1.3.2 B.）</span>
          <span style='text-indent:2em;display:block;'>2. 更新了Adjustment 参数：“对单月涉嫌欺诈或作弊的设备的数量占其当月整体安装量3%及其以上，或者连续两月大于1%，APUS将会对Partner处以涉嫌欺诈和作弊行为设备安装量所得收益10倍的罚款”。（具体条目：2.2.2）</span>
          <span style='text-indent:2em;display:block;'>3. 补充了产品被隔离榜单或下架的罚款标准，并单独附录。 （具体条目：3.1, 附录二）</span>
        </p>

        <!--  -->
      </div>

    </el-card>

    <el-card shadow="always">
      <div slot="header"
           class="clearfix">
        <span>APUS Notice</span>
      </div>

      <div>
        <p>Hi Partner,</p>
        <p>From 24 May 2018, we added <strong>adjustment</strong> parameter in dashboard. Adjustment is the number of fraud devices based on big data and machine learning technology. You can click button <strong>"detail"</strong> if you are willing to learn more details.</p>
        <p>At the same time, to avoid repeatedly deduction, the standard of quality score (A/B/C/D) also correspondingly changed from referring to retention and user behavior before to reference user retention only.</p>
        <p>Apus has invested in a large amount of money and resources in anti-fraud area recent years. Not only can pure traffic benefit Apus, more importantly, it can lead to a positive market. Only when pure traffic gain profits, can market develop in the health
          way. In return, sincere partners with true traffic will obtain benefits from it.</p>
        <p>Thanks for your understanding.</p>
        <p>With Best Wishes
          <br />Apus Ads Policy Team
          <br />24 May 2018</p>
        <br />
        <p>Hi, Partner</p>
        <p>从2018年5月24日开始， 我们在dashboard增加了<strong>adjustment</strong>参数。Adjustment是基于大数据和机器学习识别作弊的设备数，你可以点击<strong>“detail”</strong>查看详情。</p>
        <p>同时为了防止重复扣款，质量评分的A/B/C/D也相应的从之前的参考留存和用户行为变成只参考留存。</p>
        <p>反作弊领域一直是Apus愿意投入资金和资源的领域，Apus深知，这不仅仅能够给Apus带来收益，更重要的是，整个市场都能从中获益。只有那些真实的流量获益之后，整个市场才能健康地向前发展。而那些拥有真实流量的partner，势必会从这个健康和发展着的市场中获取更多的利益。</p>
        <p>感谢大家的支持和理解。</p>
        <p>以上。</p>
        <p style='text-align:right;'>Apus Ads Policy Team
          <br />2018年5月24日</p>
      </div>

    </el-card>

  </div>
</template>

<script>
export default {
  name: 'welcome'
}
</script>

<style lang="less" scoped>
@color: #756af2;

.welcome {
  padding: 20px 30px 20px 20px !important;
  /deep/.el-card {
    border-radius: 8px;
    border: 1px solid @color;
    box-shadow: 13px 16px 10px 2px rgba(116, 105, 242, 0.15);
    .el-card__header {
      padding: 12px 20px;
      background: @color;
      color: white;
      font-weight: 700;
    }
    .el-card__body {
      padding: 15px 20px;
      font-family: "Open Sans";
      font-size: 13px;
      color: #393939;
      line-height: 21px;
      a {
        color: #c9302c;
      }
    }
  }
}
</style>
