<template>
  <el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu :show-timeout="200"
             :default-active="$route.path"
             :collapse="isCollapse"
             mode="vertical"
             background-color="#e6e6e6"
             text-color="#555966"
             active-text-color="#756af2">

      <div class="apus-logo"
           @click="goToIndex"
           :style="{'font-size':this.sidebar.opened? '26px':'20px' }">
        {{this.sidebar.opened?'APUS PT': 'PT'}}
      </div>
      <sidebar-item v-for="route in permission_routers"
                    :key="route.path"
                    :item="route"
                    :base-path="route.path" />
    </el-menu>
  </el-scrollbar>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'

export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters([
      'permission_routers',
      'sidebar'
    ]),
    isCollapse () {
      return !this.sidebar.opened
    }
  },
  methods: {
    goToIndex () {
      this.$router.push('/')
    }
  }
}
</script>

<style lang="less" scoped>
.apus-logo {
  width: 100%;
  height: 50px;
  color: #756af2;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #756af223;
  cursor: pointer;
}
</style>
