<template>
  <div v-if="!item.hidden&&item.children"
       class="menu-wrapper">

    <template v-if="hasOneShowingChild(item.children,item) && (!onlyOneChild.children||onlyOneChild.noShowingChildren)&&!item.alwaysShow">
      <a :href="onlyOneChild.path"
         target="_blank"
         @click="clickLink(onlyOneChild.path,$event)">
        <el-menu-item :index="resolvePath(onlyOneChild.path)"
                      :class="{'submenu-title-noDropdown':!isNest}">
          <item v-if="onlyOneChild.meta"
                :icon="onlyOneChild.meta.icon||item.meta.icon"
                :title="onlyOneChild.meta.title" />
        </el-menu-item>
      </a>
    </template>

    <el-submenu v-else
                ref="submenu"
                :index="resolvePath(item.path)">
      <template slot="title">
        <item v-if="item.meta"
              :icon="item.meta.icon"
              :title="item.meta.title" />
      </template>

      <template v-for="child in item.children">
        <template v-if="!child.hidden">
          <sidebar-item v-if="child.children&&child.children.length>0"
                        :is-nest="true"
                        :item="child"
                        :key="child.path"
                        :base-path="resolvePath(child.path)"
                        class="nest-menu" />

          <!-- <app-link v-else
                    :to="resolvePath(child.path)"
                    :key="child.name">
            <el-menu-item :index="resolvePath(child.path)">
              <item v-if="child.meta"
                    :icon="child.meta.icon"
                    :title="child.meta.title" />
            </el-menu-item>
          </app-link> -->
          <a v-else
             :href="child.path"
             :key="child.name"
             target="_blank"
             @click="clickLink(child.path,$event)">
            <el-menu-item :index="resolvePath(child.path)">
              <item v-if="child.meta"
                    :icon="child.meta.icon"
                    :title="child.meta.title" />
            </el-menu-item>
          </a>
        </template>
      </template>
    </el-submenu>

  </div>
</template>

<script>
import path from 'path'
import Item from './Item'
import FixiOSBug from './FixiOSBug'

export default {
  name: 'SidebarItem',
  components: { Item },
  mixins: [FixiOSBug],
  props: {
    // route object
    item: {
      type: Object,
      required: true
    },
    isNest: {
      type: Boolean,
      default: false
    },
    basePath: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      onlyOneChild: null
    }
  },
  methods: {
    hasOneShowingChild (children, parent) {
      const showingChildren = children.filter(item => {
        if (item.hidden) {
          return false
        } else {
          // Temp set(will be used if only has one showing child)
          this.onlyOneChild = item
          return true
        }
      })

      // When there is only one child router, the child router is displayed by default
      if (showingChildren.length === 1) {
        return true
      }

      // Show parent if there are no child router to display
      if (showingChildren.length === 0) {
        this.onlyOneChild = { ...parent, path: '', noShowingChildren: true }
        return true
      }

      return false
    },
    resolvePath (routePath) {
      if (this.isExternalLink(routePath)) {
        return routePath
      }
      return path.resolve(this.basePath, routePath)
    },
    isExternalLink (routePath) {
      return /^(https?:|mailto:|tel:)/.test(routePath)
    },
    clickLink (routePath, e) {
      if (!this.isExternalLink(routePath)) {
        e.preventDefault()
        const path = this.resolvePath(routePath)
        this.$router.push(path)
      }
    }
  }
}
</script>
