<template>
  <el-form-item label="渠道">
    <el-select :value="value"
               @change="selectChangeFn"
               clearable
               filterable
               placeholder="">
      <el-option label="全部"
                 value=""></el-option>
      <el-option label="渠道 1"
                 value="bj"></el-option>
      <el-option label="渠道 2"
                 value="sh"></el-option>
    </el-select>
  </el-form-item>
</template>

<script>
export default {
  name: 'Channel',
  props: {
    value: {
      default: ''
    }
  },
  methods: {
    selectChangeFn (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less" scoped>
</style>
