<template>
  <el-form-item label="渠道组"
                :prop="prop"
                :rules="type === 'add' ? rules: {}">
    <el-select :value="value"
               @change="selectChangeFn"
               :clearable="type !== 'add'"
               filterable
               placeholder="">
      <el-option v-if="type !== 'add'"
                 label="全部"
                 value=""></el-option>
      <el-option label="直接合作渠道"
                 value="bj"></el-option>
      <el-option label="代理渠道下属渠道"
                 value="sh"></el-option>
    </el-select>
  </el-form-item>
</template>

<script>
export default {
  name: 'ChannelGroup',
  data () {
    return {
      rules: [
        { required: true, message: '请选择产品', trigger: 'change' }
      ]
    }
  },
  props: {
    type: {
      default: 'search'
    },
    prop: {
      default: ''
    },
    value: {
      default: ''
    }
  },
  methods: {
    selectChangeFn (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less" scoped>
</style>
