<template>
  <el-dialog title="国家 list"
             :visible.sync="dialog.visible"
             width='420px'
             class="Cl_dialog"
             :modal-append-to-body='false'>
    <el-table :data="dialog.tableData"
              stripe
              border>
      <el-table-column prop="date"
                       label="country"
                       min-width="150px"></el-table-column>
      <el-table-column prop="date"
                       label="price"
                       min-width="100px"></el-table-column>
    </el-table>
  </el-dialog>
</template>

<script>
export default {
  name: 'CountryList',
  props: {
    dialog: {
      default: function () {
        return {
          visible: false,
          tableData: []
        }
      }
    }
  },
  methods: {

  }
}
</script>

<style lang="less" scoped>
.Cl_dialog {
  // width: 400px;
}
</style>
