<template>
  <el-form-item label="邮件状态">
    <el-select :value="value"
               @change="selectChangeFn"
               clearable
               filterable
               placeholder="">
      <el-option label="全部"
                 value=""></el-option>
      <el-option label="发送中"
                 value="bj"></el-option>
      <el-option label="成功"
                 value="sh"></el-option>
      <el-option label="失败"
                 value="sb"></el-option>
    </el-select>
  </el-form-item>
</template>

<script>
export default {
  name: 'EmailState',
  props: {
    value: {
      default: ''
    }
  },
  methods: {
    selectChangeFn (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less" scoped>
</style>
