<template>
  <el-form-item label="产品"
                :prop="prop"
                :rules="type === 'add' ? rules: {}">
    <el-select :value="selectValue"
               ref="select"
               @change="selectChangeFn"
               clearable
               :multiple="type === 'add'"
               filterable
               placeholder="">
      <el-option label="全部"
                 :value="type === 'add'?'ALL':''">
      </el-option>
      <el-option v-for="(val,index) in option"
                 :label="val.label"
                 :value="val.value"
                 :key="index"></el-option>
    </el-select>
  </el-form-item>
</template>

<script>
export default {
  name: 'Product',
  data () {
    return {
      rules: [
        { required: true, message: '请选择产品', trigger: 'change' }
      ]
    }
  },
  props: {
    type: {
      default: 'search'
    },
    prop: {
      default: ''
    },
    value: {
      default: ''
    },
    option: {
      default: function () {
        return [
          {
            label: '区域二',
            value: 'bj'
          },
          {
            label: '区域3',
            value: 'sh'
          }
        ]
      }
    }
  },
  computed: {
    selectValue () {
      return this.value
    }
  },
  methods: {
    selectChangeFn (val) {
      if (val.includes('ALL')) {
        const value = []
        for (const val of this.option) {
          value.push(val.value)
        }
        return this.$emit('input', value)
      }
      this.$emit('input', val)
    }
  },
  mounted () {
    console.log('product')
  }
}
</script>

<style lang="less" scoped>
</style>
