<template>
  <el-form-item label="模板名称"
                :prop="prop"
                :rules="rules">
    <el-input :value="value"
              @change='selectChangeFn'
              placeholder=""></el-input>
  </el-form-item>
</template>

<script>
export default {
  data () {
    return {
      rules: [
        { required: true, message: '请输入模板名称', trigger: 'blur' }
      ]
    }
  },
  props: {
    prop: {
      default: ''
    },
    value: {
      default: ''
    }
  },
  methods: {
    selectChangeFn (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less" scoped>
</style>
