<template>
  <div class="BL">
    <!-- 搜索 -->
    <el-card shadow="always"
             class="BL_top">
      <div slot="header">
        <span>条件检索</span>
        <el-button type="primary"
                   @click='searchFn'
                   icon="el-icon-search"
                   class="bl_search_btn">
          查询
        </el-button>
      </div>

      <el-form :model="formData"
               inline
               :label-width="labelWidth">
        <slot name="form_item"></slot>
      </el-form>

    </el-card>

    <!-- 表格 -->
    <el-card shadow="never"
             class="BL_table"
             ref="bl_table"
             :body-style="{ padding: '0'}">
      <slot slot="header"
            name="table_top"></slot>

      <!-- 表格 -->
      <!-- <slot name="table"></slot> -->
      <el-table class="table_text_center"
                size='medium'
                :data="tableData"
                :max-height="tableHeight"
                stripe
                border>
        <slot name="table"></slot>
      </el-table>

      <el-card :body-style="{ padding: '15px' , 'margin-bottom': 0}">
        <el-pagination @size-change="handleSizeChange"
                       @current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-size="pageSize"
                       :total="total"
                       :page-sizes="[30, 50, 100]"
                       layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
      </el-card>

    </el-card>

    <slot></slot>

  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'BaseLayout',
  data () {
    return {
      tableHeight: '100%'
    }
  },
  props: {
    // 搜索条件data
    formData: {
      type: Object,
      default: function () {
        return {}
      }
    },
    // 默认宽度80px
    labelWidth: {
      default: '80px'
    },
    // 表格data
    tableData: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  computed: {
    ...mapState({
      // 当前页 1
      currentPage: state => state.BL.currentPage,
      // 页条数 30 条
      pageSize: state => state.BL.pageSize,
      // 总数 0
      total: state => state.BL.total,
      // table 高度计算
      tableCount: state => state.BL.tableCount
    })
  },
  watch: {
    tableCount () {
      this.$nextTick(() => {
        this.tableHeightCount()
      })
    }
  },
  created () {
    this._initFn()
  },

  methods: {
    // 点击搜索按钮
    searchFn () {
      this.$emit('searchFn')
      this.$nextTick(() => {
        this.$store.commit('BL_TABLECOUNT')
      })
    },
    // 初始化分页
    _initFn () {
      this.$store.commit('SET_BL_INIT')
    },
    // 页 多少条 30
    handleSizeChange (val) {
      this.$store.commit('SET_BL_CURRENTPAGE', 1)
      this.$store.commit('SET_BL_PAGESIZE', val)
    },
    // 第几页 1
    handleCurrentChange (val) {
      this.$store.commit('SET_BL_CURRENTPAGE', val)
    },

    // 计算表格高度
    tableHeightCount () {
      setTimeout(() => {
        if (this.tableData.length > 0) {
          const outHeight = this.$refs.bl_table.$el.offsetHeight

          // 计算表格上面按钮占的高度
          let bltabletop = 0
          try {
            if (this.$slots.table_top && this.$slots.table_top.length > 0) {
              bltabletop = this.$slots.table_top[0].elm.offsetHeight + 16
            }
          } catch (error) {
            bltabletop = 0
          }

          this.tableHeight = outHeight - bltabletop - 62
        }
      }, 100)
    }
  }
}
</script>

<style lang="less" scoped>
.BL {
  width: 100%;
  height: calc(100vh - 86px);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  .BL_top {
    margin-bottom: 25px;
  }

  .BL_table {
    flex: 1;
  }

  /deep/.el-card {
    border-radius: 10px;
    .el-card__header {
      padding: 8px 20px;
      line-height: 30px;
      background-color: #f3f3f3b6;
      .bl_search_btn {
        float: right;
        background-color: #756af2;
        border-color: #756af2;
        &:hover {
          background-color: #8b81ff;
          border-color: #8b81ff;
        }
      }
    }
  }
}
</style>

<style lang='less'>
.table_text_center {
  /deep/.cell {
    text-align: center;
  }
}
</style>
