<template>
  <el-form-item :label="itemName"
                :label-width="labelWidth">
    <el-date-picker v-model="time"
                    @change='selectChangeFn'
                    class='form-item_time'
                    type="daterange"
                    align="left"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    format="yyyy-MM-dd"
                    value-format="yyyy-MM-dd"
                    :picker-options="pickerOptions">
    </el-date-picker>
  </el-form-item>
</template>

<script>
import pickerOptions from '@/utils/PickerOptions'

export default {
  name: 'DatePicker-form-item',
  data () {
    return {
      time: this.value,
      pickerOptions
    }
  },
  props: {
    value: {
      default: function () {
        return []
      }
    },
    itemName: {
      default: '日期'
    },
    labelWidth: {}
  },
  methods: {
    selectChangeFn (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less" scoped>
.form-item_time {
  width: 250px;
  /deep/.el-range-separator {
    min-width: 25px;
  }
  /deep/.el-input__icon.el-range__close-icon {
    width: 0;
  }
}
</style>
