<template>
  <!-- 初始模板 -->
  <BaseLayout class="IT"
              :form-data='formData'
              :table-data='tableData'
              label-width="80px"
              @searchFn='searchFn'>

    <!-- 搜索条件 -->
    <template slot="form_item">

      <ProductType v-model="formData.productType"></ProductType>
      <ProductCompon v-model="formData.product"></ProductCompon>
      <ChannelGroup v-model="formData.ChannelGroup"></ChannelGroup>
      <TemplateName v-model="formData.TemplateName"></TemplateName>
      <OAState v-model="formData.OAState"></OAState>

    </template>

    <!-- 按钮 -->
    <div slot="table_top">
      <el-button type="success"
                 @click="add">添加{{templateName}}</el-button>
    </div>

    <!-- 表格 -->
    <template slot="table">

      <el-table-column label="模板名称"
                       prop="id"
                       min-width="140px">
      </el-table-column>
      <el-table-column label="产品类型"
                       prop="id"
                       min-width="100px">
      </el-table-column>
      <el-table-column label="产品"
                       prop="id"
                       min-width="150px">
      </el-table-column>
      <!-- show-overflow-tooltip -->
      <el-table-column label="渠道组"
                       prop="id"
                       min-width="130px">
      </el-table-column>

      <el-table-column label="国家 list"
                       min-width="90px">
        <template slot-scope="{row}">
          <el-button type="text"
                     @click="lookFn(row)">
            查看
          </el-button>
        </template>
      </el-table-column>
      <el-table-column label="OA状态"
                       prop="id"
                       min-width="120px">
      </el-table-column>
      <el-table-column label="更新时间"
                       prop="id"
                       min-width="160px">
      </el-table-column>
      <el-table-column label="操作人"
                       prop="id"
                       min-width="100px">
      </el-table-column>
      <el-table-column label="操作"
                       fixed="right"
                       min-width="80px">
        <template slot-scope="{row}">
          <el-button type="text"
                     @click="editFn(row)">
            编辑
          </el-button>
        </template>
      </el-table-column>

    </template>

    <!-- 查看 -->
    <CountryList :dialog='dialog'></CountryList>

  </BaseLayout>

</template>

<script>
import BaseLayout from '@/components/BaseLayout/index'
import pickerOptions from '@/utils/PickerOptions'

import ProductType from './components/ProductType'
import ProductCompon from './components/Product'
import ChannelGroup from './components/ChannelGroup'
import TemplateName from './components/TemplateName'
import OAState from './components/OAState'

import CountryList from './components/CountryList'

import ProductTypeMixin from './mixin/ProductType.js'

export default {
  name: 'InitialTemplate',
  mixins: [ProductTypeMixin],
  components: {
    BaseLayout,
    ProductType,
    ProductCompon,
    ChannelGroup,
    TemplateName,
    OAState,
    CountryList
  },
  data () {
    return {
      templateName: '初始模板',
      formData: {
        productType: 'bj',
        product: 'sh',
        ChannelGroup: 'sh',
        TemplateName: 'sh',
        OAState: 'sh',

        product1: 'sh'
      },
      pickerOptions,
      tableData: [
        {
          id: '操作人',
          deadline: '2019-1-15'
        },
        {
          deadline: '2018-12-29'
        }
      ],
      dialog: {
        visible: false,
        tableData: []
      }
    }
  },

  methods: {
    searchFn () {
      console.log(this.formData)
    },

    add () {
      const url = this.$route.path + '/add'
      this.$router.push(url)
      // this.$store.commit('SET_BL_CURRENTPAGE', 3)
      // this.$store.commit('SET_BL_PAGESIZE', 30)
      // this.$store.commit('SET_BL_TOTAL', 1234)
    },

    // 渠道号 查看
    lookFn (row) {
      console.log(row)
      this.dialog.tableData = [12]
      this.dialog.visible = true
    },
    // 编辑
    editFn (row) {
      console.log(row)
    }

  }

}
</script>

<style lang="less" scoped>
// .IT {
// }
</style>
